#box{
 display: flex;
 align-items: center; 
justify-content: space-between;
width: 100%;
height: 10vh;
background-color: rgb(157, 243, 176);
margin-bottom: 20px;

}

#base{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(157, 243, 176)
}
#cart{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#div1{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#order{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1px solid;
  height: 20vh;
  width: 40%;
}



